body {
    background-color: gainsboro;    
    justify-content: center;
}

.inputBox{
    background-color: red;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputText{
    width: 80%;
    margin-left: 40px;
    margin-right: 40px;
}

.btn{
    display: inline;
}

.resultados{
    background-color:white;
    margin: 25px;
    padding: 10px;
    
}

.table {    
    margin: 25px;
    padding: 10px;    
    width: 500px;
}

.titulo{
    margin: 5px;
    text-align: left;
}